.contactPage {
    width: 600px;
    background-color: var(--white);
    box-shadow: 0px 5px 24px 0px rgba(117, 120, 139, 0.10);
    margin:0 auto;
    border-radius: 16px;
    padding: 30px;
}
.contactPage h1 {
    text-align: center ;
}

.contactForm {
    display: flex;
    gap:5px;
    flex-wrap: wrap;
    color: var(--grey-normal);
    font-size: 1.4em;
}

.contactForm label{
    margin-top:5px;
}

.contactForm label, .contactForm textarea {
    width: 100%;
}

.contactForm input {
    width: 60%;
    line-height: 30px;
}

.contactForm input, .contactForm textarea {
    background-color: var(--white);
    border-radius: 8px;
    border: 0.5px solid var(--grey-light);
}

.btn {
    width: 289px;
    height: 48px;
    padding: 8px 20px;
    margin-left:auto;
    margin-top: 30px;
    border-radius: 8px;
    background-color: var(--secondary);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    border: 0;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: var(--primary);
}

.required::after {
    content: '*';
    padding-left: 2px;
    color: var(--secondary);    
}

@media (max-width: 576px) {
    .contactPage{
        width: 80%;
    }

    .contactForm input{
        width: 100%;
    }
}