.menu {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.menu a svg{
    width: 20px;
    height: 20px;
}

.menu .navItem {
    color: var(--gray-blue-grey-blue-70);
    transition: .3s;
}

.menu .navItem:hover{
    color: var(--secondary);
}

.navCart {
    position: relative;
}

.navCart span {
    display: inline-block;
    width: 15px;
    height: 15px;
    color: var(--white);
    position: absolute;
    background-color: var(--secondary);
    border-radius: 100%;
    text-align: center;
    line-height: 16px;
    top: -3px;
    right: -7px;
}
@media (max-width:576px) {
    .menu {
        width: 85px;
    }
    .menu a svg {
        width: 25px;
        height: 25px;
    }
}