.cartContainer{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.cartContainer h1 {
    width: 100%;
}

.cartProductDetails h2 {
    font-size: 2rem;
    margin-bottom: 0;
    text-align: left;
}

.cart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 3vw;
    text-align: center;
    flex-direction: column;
    width: 65%;
}
.cart .card {
    width: 100%;
    display: flex;
}

.cartProductDetails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 40px;

}

.priceBtnContainer {
    text-align: center;
    width: 30%;
    position: fixed;
    top: 200px;
    right: 40px;
}

.cart .card img {
    max-width: 30%;
}

.swal2-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.swal2-actions, div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: var(--secondary) !important;
    transition: .3s;
}

.swal2-actions:hover,
.swal2-actions:hover button:where(.swal2-styled).swal2-confirm:hover {
    background-color: var(--primary) !important;
}

.swal2-actions:hover, div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:hover, div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus {
    box-shadow: none !important;
}

div:where(.swal2-container) div:where(.swal2-actions):not(.swal2-loading) .swal2-styled:hover {
    background-image: none !important;
}

@media (max-width: 1024px) {
    .cartContainer .priceBtnContainer .btn {
        width: 100%;
    }

    .cart .card {
        width: 90%;
    }
    
    .priceBtnContainer {
        right: 20px;
    }

    .cartContainer .priceBtnContainer {
        width: 35%;
    }
    .cartProductDetails h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
   
    .cartContainer {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .cartContainer h1 {
        order: 1;
    }

    .priceBtnContainer{
        position: sticky;
        top:91px;
        order: 2;
    }


    .cart {
        width: 100%;
        order: 3;
    }

    .priceDetail {
        padding-top: 0;
    }

    .cartContainer .priceBtnContainer .btn {
        margin-top:0;
    }

    .priceBtnContainer .priceDetail {
        padding-top: 0;
        margin: 0;
    }

}

@media (max-width: 576px) {

    .cartContainer .priceBtnContainer {
        width: 80%;
        order: 2;
        background-color: var(--white);
        padding: 15px;
        border-radius: 10px;
    }

    .cart .card {
        flex-direction: column;
        align-items: center;
        width: 96%;
    }

    .cart .card img {
        height: fit-content;
        max-width: 80%;
    }

    .cartProductDetails {
        padding: 0;
        width: 100%;
    }

    .addBtn, .subBtn, .deleteBtn {
        margin: 0 2px;
    }
    
}